@tailwind base;
@tailwind components;
@tailwind utilities;

.isActive {
  background-color: skyblue;
}

b {
  font-size: 17px;
}

input {
  padding: 3px 10px;
  color: black;
  border-radius: 5px;
  outline: none;
}